.form {
  background-color: #6233b9;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #c4a9e4;
  color: #28262c;
}

